<!doctype html>
<html lang="pt-br">
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>GX</title>
</head>

<body style="background-image: url('../img/istockphoto-637254578-1024x1024.jpg')">
	<div style="height: 100px;"></div>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<h1 class="text-center w-100 mt-5">Bem-vindo!</h1>

			<p class="text-center container w-50 mt-3">
				Essa é a <strong>Brazil News API</strong>, uma API focada em trazer
				notícias dos maiores jornais do Brasil. As notícias são escolhidas
				com base na palavra passada pelo usuário e pelos jornais
				cadastrados!
			</p>
		</div>

		<div class="row d-flex justify-content-center mt-4">

			<a
				href="https://rapidapi.com/gustavofior-o8b1bZDDBS/api/brazil-news/"><button
					type="button" class="btn btn-primary">Use a API!</button></a> <a
				href="/swagger-ui.html"><button type="button"
					class="btn btn-info ml-2">Documentação</button></a> <a
				href="https://github.com/gustavo-fior/news"><button
					type="button" class="btn btn-dark ml-2">GitHub</button></a>

		</div>

	</div>
</body>
</html>
